<h1><%= minute.title %></h1>

<div id="minute_content">
  <div>
    <div>プレビュー</div>
    <div id="markdown_preview"></div>
  </div>

  <div>
    <div>Markdown</div>
    <pre id="raw_markdown">
<%= MinuteTemplate.build(minute, attendees_list(day_attendees), attendees_list(night_attendees), topics_list(topics), formatted_date(minute), absentees_list(absent_members)) %>
    </pre>
  </div>
</div>
