<div id="<%= dom_id minute %>">
  <p>
    <strong>Release branch:</strong>
    <%= minute.release_branch %>
  </p>

  <p>
    <strong>Release note:</strong>
    <%= minute.release_note %>
  </p>

</div>
