<div id="user_nav">
  <%= member_signed_in? ? "ログイン中のメンバー : #{current_member.login_name}" : 'ログインしていません' %>
  <% if member_signed_in? %>
    <span id="logout_link" data-turbo='true'>
      <%= link_to 'ログアウト', destroy_member_session_path, data: { turbo_method: :delete } %>
    </span>
  <% end %>
</div>
