<h1>メンバー一覧</h1>

<div>
  <p>活動中のメンバー</p>
  <% Member.active.each do |member| %>
    <%= render member %>
  <% end %>
</div>

<div>
  <p>休止中のメンバー</p>
  <% Member.hiatus.each do |member| %>
    <%= render member %>
  <% end %>
</div>
