<h1>
  <%= "#{@member.login_name}のページ" %>
</h1>

<!--GitHub認証を行っていないユーザーデータが存在するため、if条件をつけておく-->
<% if @member.avatar_url %>
  <%= image_tag(@member.avatar_url, size: '100x100', alt: 'ユーザーのアイコン画像') %>
<% end %>

<p>所属コース : <%= @member.course.name %></p>
